@use 'sass:math';

//========================================================================================================================================================
// @import 'fonts';
//&display=swap - добавить при подключении через плагин
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:regular,500,600&display=swap');
//========================================================================================================================================================
$fontFamily: 'Montserrat';
$fontSize: 16px;

$mainColor: #424242;
$whiteF5: #f5f5f5;
$white: #fff;
$whiteED: #ededed;
$grayC2: #c2c2c2;
$grayE0: #e0e0e0;
$gray9E: #9e9e9e;
$gray75: #757575;
$gray61: #616161;
$blackA1: #1a1a1a;
$orange: #ff703e;

//========================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320px;
// Ширина полотна (макета)
$maxWidth: 1920px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 100;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 20px;

$containerWidth: $maxWidthContainer + $containerPadding;

$pc: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S
//========================================================================================================================================================
@import 'reset';
//========================================================================================================================================================
body {
   // Скролл заблокирован
   &.lock {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;
   }
}
//========================================================================================================================================================
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: clip;
   // Прижимаем footer
   > main {
      flex: 1 1 auto;
   }
   // Фикс для слайдеров
   > * {
      min-width: 0;
   }
}
//========================================================================================================================================================
[class*='__container'] {
   max-width: 100%;
   margin: 0 auto;
   padding: 0 $containerPadding;
   @media (max-width: 480px) {
      padding: 0 0.625rem;
   }
}
//========================================================================================================================================================
@import 'header';
@import 'footer';
@import 'base';

@import 'home';
@import 'news-catalog';
@import 'news-page';
@import 'page-info.scss';
@import 'excursion-page';
@import 'contact-us';
